\tarea04\build\tarea04-DavidGomez.aux
\tarea04\build\tarea04-DavidGomez.fdb_latexmk
\tarea04\build\tarea04-DavidGomez.fls
\tarea04\build\tarea04-DavidGomez.log
\tarea04\build\tarea04-DavidGomez.out
\tarea04\build\tarea04-DavidGomez.syntectex.gz
\tarea04\build\tarea04-DavidGomez.toc